<div class="logindiv" *ngIf="!create"> 
  <h1 style="padding: 0;font-size:35px;color: rgb(218, 141, 0);font-weight: bold;">ITEA IT Equipement Attributer</h1>
<h3 style="padding: 3;font-size:22px">Login page</h3>
<form (ngSubmit)="login()">
    <div style="padding: 5%;">
      <label style="font-weight: bold;font-size: 19px;" for="username">Username:</label><br>
      <input class="css-input" type="text" id="username" name="username" [(ngModel)]="username">
    </div>
    <div style="padding-bottom: 5%;">
      <label style="font-weight: bold;font-size: 19px;" for="password">Password:</label><br>
      <input class="css-input" type="password" id="password" name="password" [(ngModel)]="password">
    </div>
    <button class="myButton">Login</button><br><br>
    <p style="color: red;" *ngIf="tries!=0">{{message}}<br> you tried to connect {{tries}} times</p>
  </form>
  </div>

 


   
